<div id="loginView">
<link rel="stylesheet" type="text/css" href="login.css">
<form class="form-signin">
        <h2 class="form-signin-heading">Login with zen account</h2>
        <input data-ng-model="loginView.credentials.email" type="email" class="form-control" placeholder="Email address" autofocus>
        <input data-ng-model="loginView.credentials.password" type="password" class="form-control" placeholder="Password">
        <label>Sign up</label><br/>
        <label>Lost password?</label>
        <button data-ng-click="loginView.helloworld()" class="btn btn-lg btn-primary btn-block">Login</button><br/>
        <h2 class="form-signin-heading">Login with Google</h2><br/>
        <div class="g-signin2" data-onsuccess="loginView.loginGoogle(googleUser)" data-theme="dark"></div>
</form>
</div>