<div id="sgAccount" class="grid-block" ng-class="{'realUser': account.realUser}">
    <div id="account-actions" zf-action-sheet="">
        <div zf-postion="bottom" zf-as-button="" class="shrink grid-block content-actions-btn noScroll" id="shrinkButton">
            <a href="">
                <div class="sgAccount--inner" ng-click="">
                    <i ng-hide="account.realUser" class="sg-icon-avatar"></i>
                    <i ng-show="account.realUser" class="sg-icon-impersonate"></i>
                    <div class="sgAccount--name">
                        <div class="user">
                            <div class="">{{account.user['first-name']}}</div>
                            <div class="" ng-if="account.realUser">({{account.realUser['first-name']}})</div>
                        </div>
                      
                    </div>
                    <i class="sg-icon-caret-down"></i>
                </div> 
            </a>
        </div>
        <div  zf-as-content="" class="sgAccount--menu">
            <ul class="vertical grid-block">
                <li ng-if="account.realUser" class="grid-block">
                    <a class="action grid-block" href="#" ng-click="account.removeImpersonation()"><i class="sg-icon-remove stopImpersonate"></i><span class="actionText">Stop imposter</span></a>  
                </li>
                <li class="grid-block">
                    <a class="action grid-block" href="#" ng-click="" zf-open="logoutModal" id="logoutButton"><i class="sg-icon-logout"></i><span class="actionText">Logout</span></a>  
                </li>
            </ul>
        </div>
    </div>


    <div zf-modal="" id="logoutModal" data-overlay="true" data-overlay-close="true" class="tiny dialog">
        <div class="grid-block vertical">
            <div class="grid-block dialog-content">
                <h4>Are you sure you want to logout?</h4>
            </div>
            <div class="grid-block dialog-actions">
                <a zf-close="" class="grid-block secondary button">No</a>
                <a zf-close="" ng-click="account.logOut()" class="grid-block primary button" id="yesButton">Yes</a>
            </div>
        </div>        
    </div>
</div>
