<div id="zenAccount">
    <li class="dropdown" data-ng-if="authentication.isConnected()">
        <a href="#" class="dropdown-toggle" data-toggle="dropdown" role="button" aria-haspopup="true" aria-expanded="false">{{authentication.userName}} 
            <span class="caret"></span>
        </a>
        <ul class="dropdown-menu">
            <li><a href="#">Settings</a></li>
            <li><a href="#">Subscription</a></li>
            <li role="separator" class="divider"></li>
            <li><a href="#">Logout</a></li>
      </ul>
    </li>
    <li data-ng-if="authentication.isNotConnected()"><a data-ng-click="account.login()">Login</a></li>
</div>